:root { 

    /* Colours  */
    --lime-green: hsl(163, 72%, 41%);
    --bright-red: Bright Red: hsl(356, 69%, 56%);

    /* Dark theme BGs */
    --bg-dark-blue: hsl(230, 17%, 14%);
    --top-dark-blue: hsl(232, 19%, 15%);
    --card-bg-dark: hsl(228, 28%, 20%);

    /* Dark theme Text */
    --type-body-blue: hsl(228, 34%, 66%);
    --type-body-white: White (Text): hsl(0, 0%, 100%);

    /* Dark theme toggle */
    --toggle-dark-theme: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

    /* Light theme BGs */
    --bg-light: hsl(0, 0%, 100%);
    --top-light-blue: hsl(225, 100%, 98%);
    --card-bg-light: hsl(227, 47%, 96%);

    /* Light theme text */
    --type-body-dark: hsl(228, 12%, 44%);
	--type-body-darkness: hsl(230, 17%, 14%);
	
	/* Light theme toggle */

	--toggle-light-theme: hsl(230, 22%, 74%);


    /* Typography */
    --font-family: 'Inter', sans-serif;
    --font-size: 14px;
    --weight-soft: 400;
    --weight-strong: 700;

    /* Social media logos */
    --fbook-blue: hsl(208, 92%, 53%);
    --twitter-blue: hsl(203, 89%, 53%);
    --inst: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --youtube: hsl(348, 97%, 39%);

 
}


/* Media queries */

	/* Small screens */
	@media all and (min-width: 375px) and (max-width: 600px) {

		.container {
			margin: 0 auto;
			display: grid;
			grid-gap: 1rem;
		}
	}

	/* Medium screens  */
	@media all and (min-width: 601px) and (max-width: 960px) {

		.wrapper {
			margin-right: 20px;
			margin-left: 20px;
		}

		.container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 20px;
		}
	}


	/* Large and max screens */
	@media all and (min-width: 961px) {

		.wrapper {
			margin-right: 80px;
			margin-left: 80px;
		}

		.container {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 20px;
		}
	}


	h1 {
		font-family: var(--font-family);
	}

	.wrapper {
		padding-top: 50px;
	}

	.headline_background {
		display: flex;
		justify-content: space-between;
	}

	.card {
		background-color: var( --card-bg-light);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px 30px 20px 30px;
	}

	.card-icon_handle {
		font-weight: var( --weight-strong);
		color:  var(--type-body-dark);
		margin-left: 10px;
	}

	.card-number {
		font-size: 30px;
		font-weight: var( --weight-strong);
		font-family: var(--font-family);
	}
